* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Kanit', sans-serif;
}

:root {
	--main-color: #24283b;
	--second-color: #1f2335;
	--text-color: #cfdaee;
	--additional-color: #42a5f5;
	--mode-color: white;
}

.light-theme {
	--main-color: #ffffff;
	--second-color: #f3f3f3;
	--text-color: #2c2c2c;
	--additional-color: #42a5f5;
	--mode-color: #ffd900;
}

.txt {
	text-decoration: none;
	color: var(--text-color);
	text-transform: uppercase;
}

.blue-txt {
	color: var(--additional-color);
}

.txt-menu {
	font-size: 1.8rem;
	text-decoration: none;
	text-transform: capitalize;
}

body {
	background-color: var(--main-color);
	nav {
		button {
			background-color: transparent;
			border: 0;
			cursor: pointer;
			font-size: 2.137rem;
		}

		.menu {
			background-color: var(--second-color);
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 10vh;
			padding: 0 20px 0 20px;
			.toggle {
				position: relative;
				width: 70px;
				height: 35px;
				border-radius: 30px;
				background-color: var(--main-color);
				box-shadow: 0 0 9px var(--mode-color);
				cursor: pointer;
				.bi {
					position: absolute;
					top: 50%;
					transform: translatey(-50%) scale(-1, 1);
					font-size: 16px;
					transition: left 0.3s;
					z-index: 100;
				}
				.bi-moon {
					left: 44px;
					color: var(---color);
				}
				.bi-brightness-high {
					left: 10px;
					color: #dfdddd73;
				}
			}
			.toggle::before {
				content: '';
				position: absolute;
				height: 24px;
				width: 24px;
				background-color: var(--mode-color);
				border-radius: 50%;
				top: 50%;
				left: 40px;
				transform: translateY(-50%);
				transition: left 0.2s;
			}
			.toggle.active {
				.bi-moon {
					left: 44px;
					color: #dfdddd;
				}
				.bi-brightness-high {
					color: var(--text-color);
				}
			}

			.toggle.active::before {
				left: 6px;
			}
		}
		.nav {
			position: absolute;
			width: 250px;
			height: 100vh;
			top: 0;
			left: -250px;
			background: var(--second-color);
			padding: 7px 0 0 20px;
			display: flex;
			flex-direction: column;
			z-index: 100;
			transition: left 0.2137s;

			ul {
				display: flex;
				flex-direction: column;
				list-style-type: none;
				transform: translateY(50%);
				a {
					color: var(--text-color);
					span {
						color: var(--additional-color);
					}
					i {
						padding-right: 12px;
						color: var(--additional-color);
					}
				}
			}
		}
		.nav.active {
			left: 0;
			top: 0;
		}
	}
}
